<div class="list-group" id="sidebar">
  <a href="/1" class="<%= typeof c0 != 'undefined' ? c0 : '' %> list-group-item">
    <strong>Chapter 1 - "On Learning"</strong>
  </a>
  <a href="/1/1" class="<%= typeof c1 != 'undefined' ? c1 : '' %> list-group-item">
    1.1 Learning is Pleasurable
  </a>
  <a href="/1/2" class="<%= typeof c2 != 'undefined' ? c2 : '' %> list-group-item">
    1.2 Virtues are based on Foundations
  </a>
  <a href="/1/3" class="<%= typeof c3 != 'undefined' ? c3 : '' %> list-group-item">
    1.3 Embellishment is Rarely Veracious
  </a>
  <a href="/1/4" class="<%= typeof c4 != 'undefined' ? c4 : '' %> list-group-item">
    1.4 Three Self-Reflections
  </a>
  <a href="/1/5" class="<%= typeof c5 != 'undefined' ? c5 : '' %> list-group-item">
    1.5 The Make of a Ruler
  </a>
  <a href="/1/6" class="<%= typeof c6 != 'undefined' ? c6 : '' %> list-group-item">
    1.6 Behaviours of Benevolence
  </a>
  <a href="/1/7" class="<%= typeof c7 != 'undefined' ? c7 : '' %> list-group-item">
    1.7 The Enlightened Person
  </a>
  <a href="/1/8" class="<%= typeof c8 != 'undefined' ? c8 : '' %> list-group-item">
    1.8 Seek to Develop Yourself
  </a>
  <a href="/1/9" class="<%= typeof c9 != 'undefined' ? c9 : '' %> list-group-item">
    1.9 Funeral Rites
  </a>
  <a href="/1/10" class="<%= typeof c10 != 'undefined' ? c10 : '' %> list-group-item">
    1.10 Gathering Information
  </a>
  <a href="/1/11" class="<%= typeof c11 != 'undefined' ? c11 : '' %> list-group-item">
    1.11 Respect for Parents
  </a>
  <a href="/1/12" class="<%= typeof c12 != 'undefined' ? c12 : '' %> list-group-item">
    1.12 Ease in Propriety
  </a>
  <a href="/1/13" class="<%= typeof c13 != 'undefined' ? c13 : '' %> list-group-item">
    1.13 To be Genuine
  </a>
  <a href="/1/14" class="<%= typeof c14 != 'undefined' ? c14 : '' %> list-group-item">
    1.14 True Philosopher
  </a>
  <a href="/1/15" class="<%= typeof c15 != 'undefined' ? c15 : '' %> list-group-item">
    1.15 To be Poor and Rich
  </a>
  <a href="/1/16" class="<%= typeof c16 != 'undefined' ? c16 : '' %> list-group-item">
    1.16 Recognition of Merits
  </a>
  <a href="/2" class="<%= typeof c16 != 'undefined' ? c16 : '' %> list-group-item">
    <strong>Chapter 2 - "On Governance"</strong>
  </a>

</div>